@import "reset";
@import "fonts";
@import "header";
@import "main";
@import "footer";

.page-wrapper {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    font-family: Poppins;
}

@media (max-width:850px){
    .page-wrapper{
        flex-wrap: wrap;
    }
}